.inline-regex-regex-row, .inline-regex-sample-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 45px;
}
.inline-regex-editor .CodeMirror, .inline-regex-sample {
    flex: 1 1 auto;  /* fully flexible */
}
.inline-regex-regex-row > button {
    flex: 0 0 auto;  /* inflexible (natural size only, never larger/smaller) */
}

.inline-regex-editor .CodeMirror {
    margin: 8px 0;
    
    /* imitating <input> appearance */
    background: white;
    border: 1px solid #9c9e9e;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.12);
}
.inline-regex-editor .CodeMirror .cm-keyword, .inline-regex-editor .CodeMirror .cm-bracket, .inline-regex-editor .CodeMirror .cm-rangeinfo {
    font-weight: bold;
}
.inline-regex-editor .CodeMirror .cm-bracket {
    color: #535353;
}

.inline-regex-editor .CodeMirror-focused {
    /* imitating focused <input> appearance - but with toned-down focus ring so syntax coloring easier to see */
    border: 1px solid rgba(9, 64, 253, 0.5);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(111, 181, 241, 0.38);
}
.inline-regex-editor input[type='text']:focus {
    border: 1px solid rgba(9, 64, 253, 0.5);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(111, 181, 241, 0.38);
}

.inline-regex-editor .CodeMirror-lines {
    padding: 5px 0;
}
.inline-regex-editor .CodeMirror pre {
    padding: 0 6px;
}
.inline-regex-editor .CodeMirror .regex-group-highlight {
    background-color: rgba(123, 137, 217, 0.37);
}
.inline-regex-editor .CodeMirror .rgh-first {
    border-radius: 3px 0 0 3px;
}
.inline-regex-editor .CodeMirror .rgh-last {
    border-radius: 0 3px 3px 0;
}

.btn-regexp-insensitive, .btn-regexp-done {
    margin-left: 10px;
}


.inline-regex-editor .inline-regex-sample {
    font-family: "SourceCodePro";
    font-size: inherit;
    padding: 2px 2px 2px 6px; /* 6px aligns L edge of text with CM field above */
}


.inline-regex-editor .inline-regex-match {
    margin-left: 47px;
    font-family: "SourceCodePro";
    font-size: inherit;
    color: #000090
}

.inline-regex-editor .inline-regex-groups {
    margin-left: 5px;
    background-color: #d3d3ff;
    border-radius: 4px;
    padding: 0 3px;
    font-family: "SourceCodePro";
    font-size: inherit;
    color: #000090;
}
.inline-regex-editor .inline-regex-groups .regex-group-match {
    padding: 0 5px;
}
.inline-regex-editor .inline-regex-groups .regex-group-match.unmatched-group {
    opacity: 0.50;
}
.inline-regex-editor .inline-regex-groups .regex-group-match:hover {
    background-color: #9f9ff5;
}
.inline-regex-editor .inline-regex-groups .regex-group-match strong {
    font-weight: bold;
}

.inline-regex-editor .inline-regex-error {
    margin-left: 40px;
    font-family: "SourceSansPro";
    color: #be0000;
}

.inline-regex-editor .sample-match-overlay {
    position: absolute;
    pointer-events: none;
    background-color: rgba(123, 137, 217, 0.37);
    border-radius: 2px;
    height: 18px;
    
    /* top is programmatically set to match top of .inline-regex-sample; adjust downward to match its border + padding */
    margin-top: 3px;
}